<launch>
    <!-- ROS Master -->
    <arg name="ros_master_uri" default="http://172.20.10.4:11311" />

    <!-- ROSBridge 서버 실행 (timeout 옵션 비활성화) -->
    <node pkg="rosbridge_server" type="rosbridge_websocket" name="rosbridge_websocket" output="screen">
        <param name="unregister_timeout" value="-1"/> <!-- Timeout 비활성화 -->
    </node>

    <!-- 컨트롤러 노드 실행 -->
    <node pkg="my_ros_package" type="controller.py" name="turtlebot_controller" output="screen" />

    <!-- move_base 및 SLAM (필요한 경우) 노드 실행 -->
    <include file="$(find turtlebot3_navigation)/launch/move_base.launch" />
</launch>

